<h2>You're in!</h2>

<p class="information">
	You've pledged <span class="orange"><%= @user.pledge %>&cent;</span> per every 
	<span class="orange">140 characters</span> Trump can't help but tweet.
</p>

<p class="information">
	Expect a weekly receipt starting seven days from today.
</p>

<p class="information">
	Thanks for participating! Share your pledge on social media and help spread the word!
</p>

<%=
	pledge_title = "Take the Letter Pledge today, and help turn Trump's tweets against him.";
 	social_share_button_tag("I just pledged " + @user.pledge.to_s + "\u00A2 to the ACLU for every 140 characters Trump tweets!", {
		url: "https://letterpledge.com",
		text: pledge_title,
	}) 
%>
