<div class="content">
	<h2>You're in!</h2>
	<p class="information">
		You've pledged <span class="orange"><%= @user.pledge %>&cent;</span> per every 
		<span class="orange">140 characters</span> Trump can't help but tweet.
	</p>

	<p class="information">
		Expect a weekly receipt starting seven days from today.
	</p>
	
	<p class="information">
		Thanks for participating!
	</p>
</div>
