<div class="content">
	<h2>Un-Pledge Successful</h2>
	<p class="information">
		We've canceled your pledge.
	</p>

	<p class="information">
		If your situation changes, please consider pledging again, or donating directly to the
		<a href="http://aclu.org">ACLU</a>.
	</p>
</div>
