<!DOCTYPE html>
<html>
  <head>
    <title>Letter Pledge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  </head>

  <body>
		<h1><a href="http://letterpledge.com">Letter <span class="orange">Pledge</span></a></h1>
    <div class="content">
			<%= yield %>
		</div>
		<div class="footer">
			Built by <a href="http://twitter.com/acceptableice">@AcceptableIce</a>
			and <a href="http://twitter.com/karmeleonnn">@karmeleonnn</a>.
			Check out the source on <a href="http://github.com/acceptableice/letterpledge">GitHub</a>.
		</div>
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script type="text/javascript">
  		Stripe.setPublishableKey("pk_test_uIfAKmnKHh33SY1JdBCaDebd");
		</script>
  </body>
</html>
